.landing * {
  margin: 10px;
}

.landing h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 50px;
  margin-bottom: 25px;
}

.landing p {
  font-family: 'Gamja Flower', cursive;
  font-size: 42px;
  padding: 0 50px;
}
