.right {
  width: 60vw;
  /* Image Credit: Igor Bondar https://www.artstation.com/ib_1605  */
  background-image: url('../images/hermyz-background.jpg') !important;
  background-position: left bottom;
}

.NavList button {
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 36px;
  float: right;
  padding: 10px 10px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 7px;
  outline: none;
}

.right-main {
  padding: 25vh 0;
  color: white;
  text-align: center;
}
