@import 'https://fonts.googleapis.com/css?family=Anton|Arima+Madurai|Gamja+Flower|Gloria+Hallelujah|Muli';

.right {
  width: 60vw;
  /* Image Source: https://www.desktopbackground.org/wallpaper/futurama-dr-zoidberg-simple-wallpapers-663792 */
  background-image: url('./dr-zoidberg.jpg') !important;
  background-position: left bottom;
}

.NavList button {
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 36px;
  float: right;
  padding: 10px 10px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 7px;
}

.right-main {
  padding: 25vh 0;
  color: white;
  text-align: center;
}
