.NavBar {
  display: flex;
  flex-direction: row;
  background-color: red;
}

.NavBar h1 {
  color: white;
  margin-left: 10px;

}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: 100vh;
}

li {
  margin: 10px;
}
