@import 'https://fonts.googleapis.com/css?family=Anton|Arima+Madurai|Gamja+Flower|Gloria+Hallelujah|Muli';

.right {
    height: 100vh;
    width: 60vw;
    /* Image Source: https://www.desktopbackground.org/wallpaper/futurama-dr-zoidberg-simple-wallpapers-663792 */
    background-image: url('./dr-zoidberg.jpg') !important;
    background-position: left bottom;
    padding: 25vh 0;
    color: white;
    text-align: center
}

.right * {
  margin: 10px;
}

.right h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 50px;
  margin-bottom: 25px;
}

.right p {
  font-family: 'Gamja Flower', cursive;
  font-size: 42px;
  padding: 0 50px;
}
